<!-- views/pages/confirmdelete.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="container">
    <h3 class="alert alert-success">Person erfolgreich gelöscht.</h3>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
