<!-- views/pages/errorpage.ejs -->

<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="container">
    <h4 class="alert alert-danger"><b>Fehler:</b> Seite wurde nicht gefunden!</h4>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>

</html>