<!-- views/pages/abortion.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="container">
    <h3 class="alert alert-danger">Sie sind nicht eingeloggt</h3>
    <p class="alert alert-info">Bitte <a href="/login">Loggen</a> Sie sich ein mit Ihrem Usernamen und Passwort.</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
